<section class="advantages" id="advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <div class="advantages-wrap">
      <div class="advantages-content fade-in">
        <ol class="advantages-list">
          <li class="advantages-item under">
            <p class="advantages-list-text">
              Swimming and water sports: try your hand at water skiing
            </p>
          </li>
          <li class="advantages-item under">
            <p class="advantages-list-text">
              Fishing: try to catch your own dinner
            </p>
          </li>
          <li class="advantages-item under">
            <p class="advantages-list-text">
              Sightseeing tours: take a shore or island tour, enjoy the views
              and sunsets from the water
            </p>
          </li>
          <li class="advantages-item under">
            <p class="advantages-list-text">
              Rest and relaxation: read a book or listen to music while enjoying
              the outdoor atmosphere.
            </p>
          </li>
        </ol>
      </div>
      <picture class="advantages-img fade-in">
        <source
          srcset="
            /img/advantages/advantages-1440-min.jpg    1x,
            /img/advantages/advantages-1440-x2-min.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            /img/advantages/advantages-1280-min.jpg    1x,
            /img/advantages/advantages-1280-x2-min.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /img/advantages/advantages-tab-min.jpg    1x,
            /img/advantages/advantages-tab-x2-min.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/advantages/advantages-mob-min.jpg    1x,
            /img/advantages/advantages-mob-x2-min.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="/img/advantages/advantages-1280-min.jpg"
          alt="Advantage Dinner on a Yacht"
        />
      </picture>
    </div>
  </div>
</section>
