<footer class="footer">
  <div class="container-footer">
    <div class="footer-container">
      <div class="footer-head">
        <div class="footer-logo-id">
          <a class="footer-logo" href=""> yachtjet </a>
          <ul class="footer-id-list">
            <li class="footer-id-item">About</li>
            <li class="footer-id-item">Yachts</li>
            <li class="footer-id-item">Reviews</li>
          </ul>
        </div>
        <ul class="footer-icon-list">
          <li class="footer-icon-item">
            <a
              href="https://www.instagram.com/goitclub/"
              class="footer-icon-link"
            >
              <svg class="footer-icon-svg" width="20" height="20">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-icon-item">
            <a href="https://www.youtube.com/c/GoIT" class="footer-icon-link">
              <svg class="footer-icon-svg" width="20" height="20">
                <use href="./img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="footer-icon-item">
            <a
              href="https://www.facebook.com/goITclub/"
              class="footer-icon-link"
            >
              <svg class="footer-icon-svg" width="20" height="20">
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <p class="footer-text">
        No matter which yacht you choose, our experienced crew will ensure that
        your journey is smooth and enjoyable.
      </p>
      <ul class="footer-privacy-list">
        <li class="footer-privacy-item">
          <a class="footer-privacy-link" href="">2023. Yacht Adventures</a>
        </li>
        <li class="footer-privacy-item">
          <a class="footer-privacy-link" href="">Privacy Police</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
