<header class="header">
  <div class="header-nav-container">
    <nav class="header-nav">
      <a href="./index.html" class="header-nav-logo">yachtjet</a>
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="#about" class="header-nav-link is-active">About</a>
          <a href="#our" class="header-nav-link">Yachts</a>
          <a href="#reviews" class="header-nav-link">Reviews</a>
        </li>
      </ul>
      <ul class="header-nav-social">
        <li class="header-nav-social-item">
          <a
            target="_blank"
            href="https://www.instagram.com/goitclub/"
            class="header-nav-social-link"
          >
            <svg class="header-nav-social-icon" width="19" height="19">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-nav-social-item">
          <a
            target="_blank"
            href="https://www.youtube.com/c/GoIT"
            class="header-nav-social-link"
          >
            <svg class="header-nav-social-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="header-nav-social-item">
          <a
            target="_blank"
            href="https://www.facebook.com/goITclub/"
            class="header-nav-social-link"
          >
            <svg class="header-nav-social-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button type="button" class="header-burger-open" data-burger-open>
        <svg class="header-burger-open-icon" width="28" height="28">
          <use href="./img/icons.svg#icon-burger"></use>
        </svg>
      </button>
      <button
        type="button"
        class="header-burger-close btn-hidden"
        data-burger-close
      >
        <svg class="header-burger-close-icon" width="16" height="16">
          <use href="./img/icons.svg#icon-close"></use>
        </svg>
      </button>
    </nav>
  </div>
  <div class="header-burger" data-burger>
    <ul class="header-burger-list">
      <li class="header-burger-item" data-burger-link>
        <a href="#about" class="header-burger-link is-active">About</a>
      </li>
      <li class="header-burger-item" data-burger-link>
        <a href="#our" class="header-burger-link">Yachts</a>
      </li>
      <li class="header-burger-item" data-burger-link>
        <a href="#reviews" class="header-burger-link">Reviews</a>
      </li>
    </ul>
    <ul class="header-burger-social">
      <li class="header-burger-social-item" data-social-link>
        <a
          target="_blank"
          href="https://www.instagram.com/goitclub/"
          class="header-burger-social-link"
        >
          <svg class="header-burger-social-icon" width="19" height="19">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-burger-social-item" data-social-link>
        <a
          target="_blank"
          href="https://www.youtube.com/c/GoIT"
          class="header-burger-social-link"
        >
          <svg class="header-burger-social-icon" width="20" height="20">
            <use href="./img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li class="header-burger-social-item" data-social-link>
        <a
          target="_blank"
          href="https://www.facebook.com/goITclub/"
          class="header-burger-social-link"
        >
          <svg class="header-burger-social-icon" width="20" height="20">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>

<button id="scrollToTopBtn" class="scroll-to-top-btn">
  <svg width="20" height="20">
    <use href="./img/icons.svg#icon-arrow"></use>
  </svg>
</button>
