<section id="our" class="our">
  <div class="container">
    <h2 class="our-title">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <div class="swiper">
      <!-- Additional required wrapper -->
      <ul class="our-card-list swiper-wrapper">
        <li class="our-card-list-item swiper-slide">
          <picture>
            <source
              srcset="
                ./img/our/arrow_yacht_deskxl.jpg    1x,
                ./img/our/arrow_yacht_deskxl_2x.jpg 2x
              "
              media="(min-width:1440px)
              "
            />
            <source
              srcset="
                ./img/our/arrow_yacht_desk.jpg    1x,
                ./img/our/arrow_yacht_desk_2x.jpg 2x
              "
              media="(min-width:1280px)
            "
            />
            <source
              srcset="
                ./img/our/arrow_yacht_tab.jpg    1x,
                ./img/our/arrow_yacht_tab_2x.jpg 2x
              "
              media="(min-width:768px)
            "
            />
            <source
              srcset="
                ./img/our/arrow_yacht.jpg     1x,
                ./img/our/arrow_yacht_2x.jpeg 2x
              "
              media="(min-width:320px)
            "
            />
            <img
              src="./img/our/arrow_yacht_deskxl.jpg"
              alt="arrow_yacht"
              class="yacht-img"
            />
          </picture>

          <div class="our-yacht-main">
            <p class="our-yacht-name">Arrow</p>
            <p class="our-yacht-category">LUXURY YAHTS</p>
          </div>
          <div class="our-yacht-secondary">
            <div class="our-secondary-questions">
              <ul class="our-questions-list">
                <li class="our-questions-list-item">LENGTH</li>
                <li class="our-questions-list-item">BUILDER</li>
                <li class="our-questions-list-item">BUILT</li>
                <li class="our-questions-list-item">GUESTS</li>
                <li class="our-questions-list-item">PRICE</li>
              </ul>
            </div>

            <div class="our-secondary-answers">
              <ul class="our-answers-list">
                <li class="our-answers-list-item">48m(155ft)</li>
                <li class="our-answers-list-item">Admiral</li>
                <li class="our-answers-list-item">2021</li>
                <li class="our-answers-list-item">11 in 5 cabins</li>
                <li class="our-answers-list-item">€33,500,000</li>
              </ul>
            </div>
          </div>
        </li>

        <li class="our-card-list-item swiper-slide">
          <picture>
            <source
              srcset="
                ./img/our/benetti_yacht_deskxl.jpg    1x,
                ./img/our/benetti_yacht_deskxl_2x.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                ./img/our/benetti_yacht_desk.jpg    1x,
                ./img/our/benetti_yacht_desk_2x.jpg 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./img/our/benetti_yacht_tab.jpg    1x,
                ./img/our/benetti_yacht_tab_2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <img
              src="./img/our/benetti_yacht_tab.jpg"
              alt="benetti_yacht"
              class="yacht-img"
            />
          </picture>

          <div class="our-yacht-main">
            <p class="our-yacht-name">BENETTI OASIS 40M BO122</p>
            <p class="our-yacht-category">LUXURY YAHTS</p>
          </div>
          <div class="our-yacht-secondary">
            <div class="our-secondary-questions">
              <ul class="our-questions-list">
                <li class="our-questions-list-item">LENGTH</li>
                <li class="our-questions-list-item">SHIPYARD</li>
                <li class="our-questions-list-item">BUILT</li>
                <li class="our-questions-list-item">GUESTS</li>
                <li class="our-questions-list-item">PRICE</li>
              </ul>
            </div>

            <div class="our-secondary-answers">
              <ul class="our-answers-list">
                <li class="our-answers-list-item">41m (133ft)</li>
                <li class="our-answers-list-item">Benetti</li>
                <li class="our-answers-list-item">2025</li>
                <li class="our-answers-list-item">10 in 5 cabins</li>
                <li class="our-answers-list-item">€23,210,000</li>
              </ul>
            </div>
          </div>
        </li>

        <li class="our-card-list-item swiper-slide">
          <picture>
            <source
              srcset="
                ./img/our/belleanna_yacht_deskxl.jpg    1x,
                ./img/our/belleanna_yacht_deskxl_2x.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                ./img/our/belleanna_yacht_desk.jpg    1x,
                ./img/our/belleanna_yacht_desk_2x.jpg 2x
              "
              media="(min-width:1280px)"
            />
            <img
              src="./img/our/belleanna_yacht_deskxl.jpg"
              alt="belleanna_yacht"
              class="yacht-img"
            />
          </picture>

          <div class="our-yacht-main">
            <p class="our-yacht-name">BELLE ANNA</p>
            <p class="our-yacht-category">LUXURY YAHTS</p>
          </div>
          <div class="our-yacht-secondary">
            <div class="our-secondary-questions">
              <ul class="our-questions-list">
                <li class="our-questions-list-item">LENGTH</li>
                <li class="our-questions-list-item">SHIPYARD</li>
                <li class="our-questions-list-item">BUILT</li>
                <li class="our-questions-list-item">GUESTS</li>
                <li class="our-questions-list-item">PRICE</li>
              </ul>
            </div>

            <div class="our-secondary-answers">
              <ul class="our-answers-list">
                <li class="our-answers-list-item">50m(155ft)</li>
                <li class="our-answers-list-item">ISA</li>
                <li class="our-answers-list-item">2012</li>
                <li class="our-answers-list-item">12 in 6 cabins</li>
                <li class="our-answers-list-item">€21,000,000</li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <a href="#rent" class="our-btn">Yacht rental</a>
  </div>
</section>
