<section class="our"></section>
<div class="container">
  <h2 class="our-title">
    Choose your dream yacht and sail away into the sunset
  </h2>
  <div class="our-yacht-card">
    <img
      srcset="./img/our/arrow_yacht.jpg 1x, ./img/our/arrow_yacht_2x.jpeg 2x"
      src="./img/our/arrow_yacht.jpg"
      alt="arrow_yacht"
      width="302"
      height="240"
      class="yacht-img"
    />
    <div class="our-yacht-main">
      <p class="our-yacht-name">Arrow</p>
      <p class="our-yacht-category">LUXURY YAHTS</p>
    </div>
    <svg width="272" height="2" class="our-icon">
      <use href="./src/img/icons.svg#icon-vector"></use>
    </svg>
    <div class="our-yacht-secondary">
      <div class="our-secondary-questions">
        <ul class="our-questions-list">
          <li class="our-questions-list-item">LENGTH</li>
          <li class="our-questions-list-item">BUILDER</li>
          <li class="our-questions-list-item">BUILT</li>
          <li class="our-questions-list-item">GUESTS</li>
          <li class="our-questions-list-item">PRICE</li>
        </ul>
      </div>

      <div class="our-secondary-answers">
        <ul class="our-answers-list">
          <li class="our-answers-list-item">48m(155ft)</li>
          <li class="our-answers-list-item">Admiral</li>
          <li class="our-answers-list-item">2021</li>
          <li class="our-answers-list-item">11 in 5 cabins</li>
          <li class="our-answers-list-item">€33,500,000</li>
        </ul>
      </div>
    </div>
  </div>
</div>
