<section class="rent">
    <div class="container rent-wrapper">
        <h2 class="rent-name">Rent a yacht now</h2>
        <form class="rent-form">
            <div class="form-wrapper">
                <input class="rent-input" type="text" id="name" name="name" placeholder="Full Name">
                <input class="rent-input" type="mail" id="mail" name="mail" placeholder="Email">
                <input class="rent-input" type="tel" id="tel" name="tel" placeholder="Phone Number">
                <textarea class="rent-user-comment" name="rent-comment" id="rent-comment"
                    placeholder="Comment"></textarea>
            </div>
        </form>
        <button class="rent-btn">Send</button>
    </div>
</section>