.about {
  transform: translateY(-60px);
}

.about-container-text {
  background-color: #fbfbfb;
  border-radius: 24px 24px 100px 100px;
}
.about-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #1b414b;
  margin-bottom: 40px;
}

.about-title.fade-in {
  opacity: 0;
  transform: translateY(20px);
}

.about-descr.fade-in {
  opacity: 0;
  transform: translateY(20px);
}

.about-img.fade-in {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.about-content {
  padding: 40px 20px;
}

.about-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #1b414b;
  margin-bottom: 20px;
}
.about-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  color: #040306;
  opacity: 0.4;
}
.about-img {
  display: block;
  max-width: 100%;
  border-radius: 24px;
}
/**--------------JACHTJET-TABLET--------------*/
@media screen and (min-width: 768px) {
  .about {
    transform: translateY(-68px);
  }

  .about-content {
    padding: 50px 32px;
  }

  .about-title {
    max-width: 536px;
    font-size: 48px;
    margin-bottom: 50px;
  }
  .about-subtitle {
    font-size: 23px;
    max-width: 389px;
  }
  .about-text {
    font-size: 13px;
    max-width: 385px;
    line-height: 1.15;
  }
}
/**-----------JACHTJET-DESKTOP-1280------*/
@media screen and (min-width: 1280px) {
  .about {
    transform: translateY(-30px);
  }

  .about-title.fade-in {
    opacity: 0;
    transform: translateX(-20px);
  }

  .about-descr.fade-in {
    opacity: 0;
    transform: translateX(20px);
  }

  .about-content {
    display: flex;
    justify-content: space-between;
    padding: 48px 50px 100px 50px;
  }
  .about-descr {
    max-width: 354px;
  }
}
/**-------------JACHTJET-DESKTOP-1440------*/
@media screen and (min-width: 1440px) {
  .about-subtitle {
    max-width: 404px;
  }
  .about-text {
    max-width: 404px;
  }
}
