/** ============================== MOBILE 👇 ========================== */
.hero {
  padding-top: 260px;
  text-align: center;
  display: flex;
  background-image: linear-gradient(
      360deg,
      #11131f 15.05%,
      rgba(17, 19, 31, 0.39) 75.3%,
      rgba(17, 19, 31, 0) 98.27%
    ),
    url(/img/hero/hero-bg-mobile-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: 812px;
  margin: 0 auto;
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        360deg,
        #11131f 15.05%,
        rgba(17, 19, 31, 0.39) 75.3%,
        rgba(17, 19, 31, 0) 98.27%
      ),
      url(/img/hero/hero-bg-mobile-2x.jpg);
  }
}

.hero-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  margin-bottom: 24px;
}

.hero-title.fade-in {
  opacity: 0;
  transform: translateX(-50px);
}

.hero-text {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.16667;
  text-align: center;
  color: rgba(251, 251, 251, 0.7);
  margin-bottom: 38px;
}

.hero-text.fade-in {
  opacity: 0;
  transform: translateX(50px);
}

.hero-btn {
  color: #fbfbfb;
  cursor: pointer;
  background-color: #1b414b;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  width: 141px;
  height: 46px;
  padding: 14px 32px;
  border: none;
  border-radius: 15px;
  display: inline-block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 1.3s cubic-bezier(0.4, 0, 0.2, 1),
    transform 1.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #fbfbfb;
  color: #1b414b;
}

.hero-btn.fade-in {
  opacity: 0;
  transform: translateY(50px);
}
/** ============================MODAL=================================== */
.backdrop {
  z-index: 300;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(30, 24, 35, 0.615);
  opacity: 1;
  visibility: hidden;
  pointer-events: none;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  overflow: auto;
}

.modal {
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  background-color: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 16px 24px 16px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 15px;
}

.modal-close-btn {
  position: absolute;
  margin-left: auto;
  cursor: pointer;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #1b414b;
  border: none;
}

.modal-close-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover > .modal-close-svg,
.modal-close-btn:focus > .modal-close-svg {
  fill: #ffffff;
}

.modal-title {
  display: flex;
  max-width: 256px;
  height: 48px;
  margin-bottom: 16px;
  color: #1b414b;
  text-align: center;
  justify-content: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 20px;
}

.modal-field {
  margin-bottom: 12px;
}

.modal-input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #1b414b;
}

.modal-input:focus + .modal-icon {
  fill: #1b414b;
}

.modal-label {
  display: flex;
  align-items: flex-start;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.modal-icon {
  fill: transparent;
  stroke: #404040;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  width: 100%;
  background-color: transparent;
  outline: transparent;
  resize: none;
  height: 120px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox-field-container {
  margin-bottom: 16px;
}

.modal-text:focus {
  border-color: #1b414b;
}

.modal-hero-btn:hover,
.modal-hero-btn:focus {
  background-color: #1b414b;
  border: none;
}

.modal-check-box {
  margin-bottom: 20px;
  display: flex;
}

.modal-check-text {
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.1em;
  max-width: 265px;
}

.policy-page {
  color: #1b414b;
  text-decoration-line: underline;
  padding-left: 6px;
}

.user-privacy-span {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden-modal:checked + .modal-check-text span {
  background-color: #1b414b;
  border: none;
  fill: #f4f4fd;
}

.modal-hero-btn {
  color: #fff;
  display: block;
  cursor: pointer;
  background-color: #24525f;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 15px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 160px;
  height: 50px;
  margin: 0 auto;
}

.visually-hidden-modal {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/** ================================================= TABLET 👇 ========================================= */
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        360deg,
        #11131f 15.05%,
        rgba(17, 19, 31, 0.39) 75.3%,
        rgba(17, 19, 31, 0) 98.27%
      ),
      url(/img/hero/hero-bg-tablet-1x.jpg);
    height: 962px;
    padding-top: 280px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          360deg,
          #11131f 15.05%,
          rgba(17, 19, 31, 0.39) 75.3%,
          rgba(17, 19, 31, 0) 98.27%
        ),
        url(/img/hero/hero-bg-tablet-2x.jpg);
    }
  }

  .hero-title {
    font-size: 70px;
  }

  .hero-text {
    font-size: 16px;
    line-height: 1.4;
    color: rgba(251, 251, 251, 0.7);
    max-width: 597px;
    margin: 0 auto;
    margin-bottom: 48px;
  }

  .hero-btn {
    width: 179px;
    height: 52px;
    padding: 16px 40px;
  }

  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }

  .modal-title {
    max-width: 360px;
    height: 24px;
  }

  .modal-check-text {
    max-width: 100%;
    letter-spacing: 0.04em;
  }
  .policy-page {
    padding-left: 4px;
  }
}
/** ================================================= DESKTOP 👇 ========================================= */
@media screen and (min-width: 1280px) {
  .hero {
    background-image: linear-gradient(
        360deg,
        #11131f 15.05%,
        rgba(17, 19, 31, 0.39) 75.3%,
        rgba(17, 19, 31, 0) 98.27%
      ),
      url(/img/hero/hero-bg-desktop-1x.jpg);
    height: 800px;
    padding-top: 235px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          360deg,
          #11131f 15.05%,
          rgba(17, 19, 31, 0.39) 75.3%,
          rgba(17, 19, 31, 0) 98.27%
        ),
        url(/img/hero/hero-bg-desktop-2x.jpg);
    }
  }

  .hero-title {
    max-width: 1001px;
    font-size: 80px;
  }
}
/** ============================================== DESKTOP-MAX 👇 ========================================= */
@media screen and (min-width: 1440px) {
  .hero {
    background-image: linear-gradient(
        360deg,
        #11131f 15.05%,
        rgba(17, 19, 31, 0.39) 75.3%,
        rgba(17, 19, 31, 0) 98.27%
      ),
      url(/img/hero/hero-bg-desktop-max-1x.jpg);
    max-width: 1440px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          360deg,
          #11131f 15.05%,
          rgba(17, 19, 31, 0.39) 75.3%,
          rgba(17, 19, 31, 0) 98.27%
        ),
        url(/img/hero/hero-bg-desktop-max-2x.jpg);
    }
  }
}
