.rent {

}


.rent-name {
  color: #fbfbfb;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
}

.form-wrapper {
  margin: 40px 0;
}

.rent-input {
  color: rgba(251, 251, 251, 0.4);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 12px;
  width: 100%;
  height: 42px;
  margin-bottom: 18px;
  padding-left: 18px;
  background-color: transparent;
}

.rent-input:hover::placeholder,
.rent-input:focus::placeholder {
  border: 1px solid rgba(251, 251, 251, 0.5);
  font-size: 14px;
}

.rent-user-comment {
  color: rgba(251, 251, 251, 0.4);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 12px;
  width: 100%;
  height: 108px;
  padding-top: 14px;
  padding-left: 18px;
  background-color: transparent;
}

.rent-user-comment:hover::placeholder,
.rent-user-comment:focus::placeholder {
  border: 1px solid rgba(251, 251, 251, 0.5);
  font-size: 14px;
}

.rent-btn {
  color: #fbfbfb;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  background-color: #1b414b;
  border-radius: 15px;
  width: 122px;
  height: 46px;
  border: none;
  margin-bottom: 80px;
}

.rent-btn:hover,
.rent-btn:focus {
  background: #fbfbfb;
  color: #1b414b;
}
