.rent {
  padding-top: 80px;
}

.rent-name {
  color: #fbfbfb;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
}

.form-wrapper {
  margin: 40px 0;
}

.rent-input {
  font-family: 'Inter', sans-serif;
  color: rgba(251, 251, 251, 0.4);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 12px;
  width: 100%;
  height: 42px;
  margin-bottom: 18px;
  padding-left: 18px;
  background-color: transparent;
}

.rent-user-comment {
  font-family: 'Inter', sans-serif;
  color: rgba(251, 251, 251, 0.4);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 12px;
  width: 100%;
  height: 108px;
  padding-top: 14px;
  padding-left: 18px;
  background-color: transparent;
}

.rent-btn {
  font-family: 'Inter', sans-serif;
  color: #fbfbfb;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  background-color: #1b414b;
  border-radius: 15px;
  width: 122px;
  height: 46px;
  border: none;
  margin-bottom: 80px;
}

.rent-btn:hover,
.rent-btn:focus {
  background: #fbfbfb;
  color: #1b414b;
}

@media screen and (min-width: 768px) {
  .input-wrapper {
    padding: 0 148px;
   }

    .form-wrapper {
      margin: 50px 0;
    }
  
.rent-btn {
margin-bottom: 100px;
}

.rent-name {
  font-size: 48px;
}

.rent-input {
  font-size: 14px;
  line-height: 1.3; 
  height: 54px;
}

.rent-user-comment {
    font-size: 14px;
      line-height: 1.3;
      height: 116px;
}

.rent-btn {
  font-size: 18px;
  line-height: 1.1;
  width: 194px;
  height: 56px;
  border: none;
}

}

@media screen and (min-width: 1280px) {
  .rent {
    padding-top: 150px;
  }
  .rent-wrapper {
display: flex;
flex-direction: row-reverse;
gap: 50px;
  }

.input-wrapper {
  padding: 0;
}
.rent-btn {
  margin: 0;
}

}

@media screen and (min-width: 1440px) {
  .rent-wrapper {
    padding-right: 100px;
  }

}
